.activity {
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  /* background-color: lightgreen; */
}

.activity li {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
  color: #1140a4;
  font-weight: bold;
}

.activity span {
  position: relative;
  left: -14px;
}

.activityContainer {
  display: flex;
  flex-direction: row;

  align-items: start;
  /* background-color: rgb(153, 205, 153); */
  margin-top: 10px;
  margin-bottom: 40px;
}

.activity_Leftside {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  margin-left: 20px;
}
.activity_Leftside p {
  color: rgb(72, 72, 72);
  margin-bottom: 10px;
}

.activity_Rightside {
  /* background-color: rgb(20, 194, 20); */
  margin-left: 20px;
  max-width: 380px;
}

.activity_Rightside ul {
  padding-left: 0px;
}

.activity_Rightside li {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  font-weight: normal;
  max-width: 380px;
}

.activity_Rightside h2 {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 22px;
  max-width: 380px;
}
.activity_Rightside p {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(72, 72, 72);
  max-width: 380px;
}

.activity_Rightside a {
  font-size: 18px;
}
