.contactDataUl {
  padding-left: 0px;
}
.contactContent {
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  background-color: lightgreen;
  margin-top: 30px;
}

.contactContent li {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
  color: #1140a4;
  font-weight: bold;
}

.contactContent span {
  position: relative;
  left: -14px;
}

.contactIcon {
  width: 20px;
  height: 20px;
  color: #1140a4;
  margin-right: 0px;
}
.contactData {
  display: flex; /* This enables Flexbox */
  align-items: center; /* This vertically centers the icon and text within the container */
  gap: 10px;
  color: rgb(72, 72, 72);
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}
