.project {
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  background-color: lightgreen;
}

.project li {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 24px;
  color: #1140a4;
  font-weight: bold;
}

.projectspan {
  position: relative;
  left: -14px;
}

.projectContainer {
  display: flex;
  flex-direction: row;

  align-items: start;
  background-color: rgb(153, 205, 153);
  margin-top: 10px;
}

.project_Leftside {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  margin-left: 98px;
}

.project_Leftside ul {
  padding-left: 0px;
}

.project_Rightside {
  background-color: rgb(20, 194, 20);
  margin-left: 40px;
  max-width: 380px;
}

.project_Rightside ul {
  padding-left: 0px;
}

.project_Rightside li {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  font-weight: normal;
  max-width: 380px;
}

.project_Rightside h2 {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 22px;
  max-width: 380px;
}
.project_Rightside p {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(72, 72, 72);
  max-width: 380px;
}

.project_Rightside a {
  font-size: 18px;
}
