.image {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 30px;
}

.image label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #001a8b;
  margin-right: 10px;
}

.image input {
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 610px;
  border-color: #005eab;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  gap: 20px; /* Adds space between rows and columns */
  max-width: 700px; /* Optional: limits form width */
  /* Optional: centers the form on the page */
}
.control {
  display: flexbox;
  flex-direction: column;
  margin-bottom: -10px;
  margin-left: 20px;
  /* margin-left: 10px; */
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #001a8b;
  margin-right: 10px;
}

.control input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 250px;
  border-color: #005eab;
}

.textarea {
  margin-top: 25px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
  margin-left: 20px;
}

.textarealabel {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #001a8b;
  margin-right: 10px;
}

.textareaBox {
  margin-bottom: 25px;
  resize: none;
  font-size: 20px;
  font-weight: normal;
  border: solid 1px #001a8b;
  border-radius: 4px;
  width: 610px;
}

.addMoreProfile {
  width: 60px;
  height: 60px;
  color: #001a8b;
  margin-top: 10px;
  margin-left: 300px;
  cursor: pointer;
}

.done {
  margin-left: 300px;
  font-size: 24px;
  font-weight: bold;
  color: #001a8b;
}
