.technicalControl {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 20px;
  margin-left: 20px;
}

.technicalControl label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #001a8b;
  margin-right: 10px;
}

.technicalControlInput {
  display: inline-block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 350px;
  border-color: #005eab;
  margin-right: 20px;
}

.technicalControlErrorInput {
  display: inline-block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 350px;
  border-color: red;
  margin-right: 20px;
}

.errorMessage {
  color: red;
  font-size: 0.8rem;
  margin-top: 0px;
  margin-left: 20px;
}

.addMoreSkills {
  width: 30px;
  height: 30px;
  color: #001a8b;
  cursor: pointer;
  margin-right: 10px;
}

.removeSkill {
  width: 25px;
  height: 25px;
  color: #001a8b;
  margin-left: 15px;
  cursor: pointer;
}

.technicalUl {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.technicalUl li {
  flex: 1 1 50%;
}
.technicalUl h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.displayedH3 {
  display: flex; /* This enables Flexbox */
  align-items: center; /* This vertically centers the icon and text within the container */
  gap: 10px;
  margin: 8px;
}
