.confirmDelete {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.confirmDelete h3 {
  color: #001a8b;
  margin-top: 2rem;
  text-align: center;
}

.confirmDelete button {
  font: inherit;
  cursor: pointer;
  background-color: #001a8b;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #001a8b;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
}

.confirmDelete button:hover,
.confirmDelete button:active {
  background-color: #0e25a5;
  border-color: #0e25a5;
}
