.item {
  margin: 1rem 0;
}

.image {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 2px 7px 4px #6363637e;
  object-fit: cover;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  text-align: left;
  padding: 1rem;
}

.text {
  display: inline-block;
  margin-left: 30px;
  margin-top: 50px;
}
.text h2 {
  margin-top: auto;
  font-size: 50px;
  color: #1140a4;
  margin-bottom: 0px;
}

.text h3 {
  font-size: 30px;
  margin-top: 20px;
  color: #2a61a5;
  margin-bottom: 0px;
}

.text p {
  font-size: 20px;
  margin-top: 1px;
  color: #2977d0;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #005eab;
  border: 1px solid #005eab;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #b7e2ff;
}
